<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.h2kresearch.iepread">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen">
    <activity
      android:name=".IntroActivity"
      android:screenOrientation="landscape">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".InfoActivity"
      android:screenOrientation="landscape"
      android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
    <activity
      android:name=".Test1Vowel1Activity"
      android:screenOrientation="landscape" />
    <activity
      android:name=".Test1Vowel2Activity"
      android:screenOrientation="landscape" />
    <activity android:name=".Test2Consonant1Activity" />
    <activity android:name=".Test2Consonant2Activity" />
    <activity android:name=".Test3NoSupport1Activity" />
    <activity android:name=".Test3NoSupport2Activity" />
    <activity android:name=".Test4ComplexVowel1Activity" />
    <activity android:name=".Test4ComplexVowel2Activity" />
    <activity android:name=".Test5WordWithNoSupportActivity" />
    <activity android:name=".Test6SimpleSupport1Activity" />
    <activity android:name=".Test6SimpleSupport2Activity" />
    <activity android:name=".Test7ComplexSupport1Activity" />
    <activity android:name=".Test7ComplexSupport2Activity" />
    <activity android:name=".Test8WordWithSupportActivity" />
    <activity android:name=".Test9ReadingActivity" />
    <activity android:name=".ResultActivity" />
    <activity android:name=".TestEndActivity" />
    <activity android:name=".TestStartActivity" />
    <activity android:name=".SendActivity" />
    <activity android:name=".TutorialActivity"></activity>
  </application>

</manifest>